// stylelint-disable
@include fontface(Merriweather, Merriweather Light, Merriweather-Light, Merriweather-Light, 300, normal);
@include fontface(Merriweather, Merriweather Regular, Merriweather-Regular, Merriweather-Regular, 400, normal);
@include fontface(Merriweather, Merriweather Bold, Merriweather-Bold, Merriweather-Bold, 700, normal);

html {
    display: flex; // fix IE11
    min-width: 1200px;
    font-family: $mainFont, serif;
    font-size: 14px;
    line-height: 1.5;
    color: $colorTextBlack;
    background: $colorBg;
    box-sizing: border-box;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s $easeInOutCirc, border 0.3s $easeInOutCirc, background 0.3s $easeInOutCirc, opacity 0.3s $easeInOutCirc;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.h-hide {
    display: none !important;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='file'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    font-weight: 300;
}

img {
    max-width: 100%;
}

.body {
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: block;
    width: 100%;
    max-width: 1246px;
    padding: 0 15px;
    margin: 0 auto;
}
