.footer {
    padding: 24px 0;
    background-color: $colorBgFooter;
    margin-top: auto;

    &__content {
        display: flex;
    }

    &__nav {
        margin: 0 48px;
    }

    &__contacts {
        align-items: center;
        display: flex;
        margin-left: auto;
    }

    &__phone {
        padding-left: 24px;

        &:hover {
            opacity: 0.8;
        }
    }

    &__address {
        padding-left: 24px;
    }

    &__contact {
        position: relative;
        padding-left: 24px;
        margin-left: 48px;

        &:first-child {
            margin-left: 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 16px;
            height: 16px;
            transform: translateY(-50%);
        }

        &--phone {
            &::before {
                background-image: url('../assets/img/icons/ico-phone.svg');
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &--address {
            &::before {
                background-image: url('../assets/img/icons/ico-address.svg');
            }
        }
    }
}
