<footer class="footer">
    <div class="footer__content container">
        <a class="logo" href="/">
            <img src="assets/img/svg/logo-footer.svg" alt="The Famous">
        </a>

        <div class="footer__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Каталог</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Доставка</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Оплата</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Контакты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">О галерее</a>
                </li>
            </ul>
        </div>

        <div class="footer__contacts">
            <a class="footer__contact footer__contact--phone" href="tel:+74955555555">+7 (495) 555-55-55</a>

            <span class="footer__contact footer__contact--address">г. Москва, ул. Расплетина, 24</span>
        </div>
    </div>
</footer>
