.header {
    padding: 24px 0 23px;
    border-bottom: 1px solid $colorBorder;
    margin-bottom: 45px;

    &__content {
        display: flex;
    }

    &__nav {
        margin: 0 48px;
    }

    &__search {
        margin-left: auto;
    }
}
