.nav {
    align-items: center;
    display: flex;
    max-width: 530px;

    &__list {
        flex-wrap: wrap;
        display: flex;
    }

    &__item {
        margin-right: 48px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: inline-block;
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }
    }
}
