.search {
    display: flex;

    &__input {
        width: 294px;
        padding: 12px 13px 13px;
        font-family: inherit;
        font-size: 14px;
        line-height: 1.5;
        color: $colorTextBlack;
        border: 1px solid $colorBorder;
        border-right-color: transparent;
        background-color: transparent;
        transition: border 0.3s $easeInOutCirc;

        &:focus {
            border-color: $colorBorderFocus;
        }

        &::placeholder {
            color: #9f9f9f;
        }
    }
}
