.products {
    flex-wrap: wrap;
    display: flex;
    margin: 39px -16px;

    &__item {
        flex-direction: column;
        display: flex;
        width: 280px;
        padding-bottom: 23px;
        border: 1px solid $colorBorder;
        margin: 0 16px 32px;

        &--sold {
            opacity: 0.5;
        }
    }

    &__img {
        display: block;
        width: 280px;
        height: 160px;
        border-bottom: 1px solid $colorBorder;
        margin-bottom: 20px;
    }

    &__name {
        padding: 0 23px;
        font-size: 18px;
        margin-bottom: 22px;
    }

    &__footer {
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 0 23px;
    }

    &__old-price {
        font-weight: 300;
        text-decoration-line: line-through;
        white-space: nowrap;
        color: $colorOldPrice;
    }

    &__price {
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
    }
}
