<header class="header">
    <div class="header__content container">
        <a class="logo" href="/">
            <img src="assets/img/svg/logo-header.svg" alt="The Famous">
        </a>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Каталог</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Доставка</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Оплата</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Контакты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">О галерее</a>
                </li>
            </ul>
        </nav>

        <form class="header__search search" action="#">
            <input class="search__input" type="text" placeholder="Поиск по названию картины">

            <button class="search__btn btn">Найти</button>
        </form>
    </div>
</header>
