.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 14px 36px 13px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    color: $colorBtnText;
    background-color: $colorBtnBg;
    box-shadow: none;
    transition: background 0.3s $easeInOutCirc;
    cursor: pointer;

    &:hover {
        background-color: $colorBtnHover;
    }

    &--disabled {
        background-color: $colorBtnDisable;
        cursor: not-allowed;

        &:hover {
            background-color: $colorBtnDisable;
        }
    }

    &--products {
        width: 118px;
        padding-right: 0;
        padding-left: 0;
    }

    &--in-basket {
        position: relative;
        padding-right: 9px;
        padding-left: 32px;
        background-color: $colorBtnInBasket;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            width: 20px;
            height: 20px;
            background-image: url('../assets/img/icons/ico-check.svg');
            transform: translateY(-50%);
        }
    }

    &--loading {
        position: relative;
        color: $colorBtnLoading;
        background-color: $colorBtnLoading;
        user-select: none;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
            width: 24px;
            height: 24px;
            border: 4px solid $colorWhite;
            border-top: 4px solid $colorBtnBg;
            border-radius: 50%;
            animation: spin 1.5s linear infinite;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
