---
title: Картины эпохи Возрождения
isReady: true
---

<main class="container">
    <h1>Картины эпохи Возрождения</h1>

    <div class="products js-products">
        <div class="products__item">
            <img class="products__img" src="assets/img/temp/products/product_1.jpg" alt="«Рождение Венеры» Сандро Боттичелли">

            <div class="products__name">
                «Рождение Венеры» Сандро Боттичелли
            </div>

            <div class="products__footer">
                <div class="products__prices">
                    <div class="products__old-price">2 000 000 $</div>
                    <div class="products__price">1 000 000 $</div>
                </div>

                <a class="btn btn--products js-product-buy" href="#" data-product-id="1">Купить</a>
            </div>
        </div>

        <div class="products__item">
            <img class="products__img" src="assets/img/temp/products/product_2.jpg" alt="«Тайная вечеря»  Леонардо да Винчи">

            <div class="products__name">
                «Тайная вечеря» Леонардо да Винчи
            </div>

            <div class="products__footer">
                <div class="products__prices">
                    <div class="products__price">3 000 000 $</div>
                </div>

                <a class="btn btn--products js-product-buy" href="#" data-product-id="2">Купить</a>
            </div>
        </div>

        <div class="products__item">
            <img class="products__img" src="assets/img/temp/products/product_3.jpg" alt="«Сотворение Адама» Микеланджело">

            <div class="products__name">
                «Сотворение Адама» Микеланджело
            </div>

            <div class="products__footer">
                <div class="products__prices">
                    <div class="products__old-price">6 000 000 $</div>
                    <div class="products__price">5 000 000 $</div>
                </div>

                <a class="btn btn--in-basket js-product-buy" href="#" data-product-id="3">В корзине</a>
            </div>
        </div>

        <div class="products__item products__item--sold">
            <img class="products__img" src="assets/img/temp/products/product_4.jpg" alt="«Урок анатомии» Рембрандт">

            <div class="products__name">
                «Урок анатомии» Рембрандт
            </div>

            <div class="products__footer">
                <div class="products__prices">
                    <div class="products__price">
                        Продана на аукционе
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

