<!DOCTYPE html>
<html lang="ru" class="{{#if htmlClass}}{{htmlClass}}{{/if}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <title>{{title}}</title>
</head>
<body class="body">

    {{> header}}

    {{> body}}

    {{> footer}}

    <script src="https://polyfill.io/v3/polyfill.min.js"></script>
    <script src="js/libs.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
